<%- include("../template/header") %>
        <h1>Create a Genre!</h1>
        <a href="/genres">Back to list</a>
        <%- include("../template/formErrors.ejs"); %>
        <form class="crud" action="/genres/add" method="post">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="" class="form-control">
          </div>
          <div class="form-group">
            <label for="ranking">Ranking:</label>
            <input type="text" id="ranking" name="ranking" value="" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" name="button" class="btn btn-success">Submit</button>
          </div>
        </form>
        <a href="/genres">Back to list</a>
<%- include("../template/footer") %>
