<%- include("template/header") %>
  <div class="red-alert alert alert-danger" role="alert">
    <strong>Oh snap!</strong>
    <p><%=error%></p>
  </div>
  <a href="/">Take me home</a>
<%- include("template/footer") %>
